*{box-sizing: border-box;}

.asos-left{
	overflow: auto;
	position: fixed;
	width: 300px;
	height: 100%;
	text-align: center;
	background-color: #292828;
	color: white;
}

.asos-left-wesbos-img{
	width: 200px;
    padding-top: 40px;
}
.asos-left-wesbos h2{
	margin: 0;
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	font-family: initial;

}
.asos-left-link{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.asos-left-link li:hover{
	cursor: pointer;
}

.asos-left-link li{
	padding: 15px 0;
	border-top:3px solid black;
}
.asos-left-link a{
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}
.contact{
	border-bottom:3px solid black;
}

.twitters{
	font-size: 16px;
	margin-top: 20px;: 
}
.asos-left-twitter{
	display: inline-block;
	padding: 0 5px;
	margin-right: 10px;
	text-decoration: none;
	color: white;
	background-color: #1da1f2;
	border-radius: 5px;
	transition: 0.4s;
}
.asos-left-twitter:hover{
	background-color: #1679b6;
	cursor: pointer;
}

.asos-left-follower{
	display: inline-block;
	text-decoration: none;
	padding: 1px 5px;
	border-radius: 2px;
	background-color: #fff;
	color: #222;
}
.asos-left-follower:hover{
	text-decoration: underline;
	cursor: pointer;
}
.asos-left-youtubes{
	list-style-type: none;
}
.asos-left-youtubes li{
	display: inline-block;
}
.asos-left-youtube{
	display: inline-block;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1px 0 0 3px;
    background-color: red;
    color: black;

}
.asos-left-youtube span{
	background-color: white;
    padding: 3px 5px 2px 5px
}
.fa-youtube{
	color: white;
	padding: 2px 4px;
}





.asos-right{
	margin: 80px 0 0 300px;
	position: absolute;
}
.asos-top{
    padding: 0 0 0 445px;
	min-height: 320px;
    background-image: url(../img/welcome-long.jpg);
    background-attachment: fixed;
    background-position: 286px 10px;
    background-repeat: no-repeat;
    background-size: contain;
}
.asos-top h2{
	margin: 0;
    width: 490px;
    font-family: monospace;
    font-size: 35px;
    color: #6d6767;
}
.asos-top p{
	width: 530px;
	font-family: monospace;
	font-size: 20px;
}
.developer{
	background-color: yellow;
}
.tag-chiziq{
	border-bottom: 3px solid yellow;
}

.asos-bottom{
	padding: 0 2px;
}
.asos-bottom h2{
	text-align: center;
	font-size: 30px;
	color: #6d6767;
}
.asos-bottom span{
	font-size: 14px;
}


.manbalar-list{
	text-align: center;
	display: inline-block;
}
.manba-img{
	width: 320px;
	height: 180px;
	border-radius: 5px;
}
.manba-yozuv-link{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 20px;
	color: black;
}
.manbalar{
	vertical-align: top;
	display: inline-block;
	margin: 10px;
	width: 325px;
	height: 270px;
	list-style-type: none;
	border: 0 solid #eaeae5;
	box-shadow: 0 0 5px #d8d8c8;
	border-radius: 5px;
}
.manbalar h4{
	margin: 0;
	padding: 12px 20px;
}



